.btn {
  display: inline-flex;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: lightseagreen;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.btn:hover, .btn:focus {
  box-shadow: 0 0 0 2px rgba(0,0, 255, 0.6);
}
