:root {
  --spacing: 8px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.site-header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.site-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
  font-size: 24px;
}

.logo:hover, .logo:focus {
  color: #009688;
}

.site-menu {
  display: none;
}

@media (min-width: 768px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-menu__link {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 700;
}

.site-menu__link:hover, .site-menu__link:focus {
  background-color: #2a2a2a;
  color: #fff;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .services-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .services-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.services-list__title {
  margin-top: 0;
  margin-bottom: 16px;
}

.services-list__text {
  margin-bottom: 0;
  margin-top: 0;
}

.couriers-list {
  --grid-gap: 30px;
}

@media (min-width: 768px) {
  .couriers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--grid-gap));
    margin-left: calc(-1 * var(--grid-gap));
  }
}

@media (min-width: 768px) {
  .couriers-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-top: var(--grid-gap);
    margin-left: var(--grid-gap);
  }
}

@media (min-width: 1200px) {
  .couriers-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.couriers-list__thumb {
  height: 460px;
  border-radius: 4px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .couriers-list__thumb {
    height: 364px;
  }
}

@media (min-width: 1200px) {
  .couriers-list__thumb {
    height: 260px;
  }
}

.couriers-list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=main.css.map */