.couriers-list {
  --grid-gap: 30px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--grid-gap));
    margin-left: calc(-1 * var(--grid-gap));
  }
}

.couriers-list__item {
  @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: var(--grid-gap);
    margin-left: var(--grid-gap);
  }

  @media (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.couriers-list__thumb {
  height: 460px;
  border-radius: 4px;
  overflow: hidden;

  @media (min-width: 768px) {
    height: 364px;
  }

  @media (min-width: 1200px) {
    height: 260px;
  }
}

.couriers-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
