.couriers-list {
  --grid-gap: 16px;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--grid-gap));
  margin-left: calc(-1 * var(--grid-gap));
}

.couriers-list__item {
  flex-basis: calc((100% - var(--grid-gap) * 3) / 3);
  margin-left: var(--grid-gap);
  margin-top: var(--grid-gap);
}

.couriers-list__thumb {
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 20%),
    0px 1px 1px 0px rgba(0, 0, 0, 14%), 0px 1px 3px 0px rgba(0, 0, 0, 12%);
}

.couriers-list__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
